{% extends 'base.html.twig' %}

{% block title %}Forgot password{% endblock %}

{% block main %}
    <main class="login">
        <div class="card white mt-3">
            {% for flash_error in app.flashes('reset_password_error') %}
                <div class="alert alert-danger" role="alert">{{ flash_error }}</div>
            {% endfor %}
            <h1>Recover Password</h1>
            <p><em>Don’t worry, happens to the best of us !</em></p>
            <form method="POST" action="{{ path('app_check_email') }}">
                <div>
                    <div>
                        <label for="inputEmail">Email</label>
                        <input type="email"
                               name="email"
                               id="inputEmail"
                               class="form-control"
                               autocomplete="email"
                               placeholder="Ex: mail@example.com"
                               required
                        >
                    </div>
                </div>
       {#         {% if isSent %}
                    <div class="success">
                        <div>
                            Check your email and open the link se sent to continue
                        </div>
                    </div>
                {% endif %}#}
                <a class="reset-password" href="{{ path('app_login') }}">
                    &#8592;
                    Sign In
                </a>
                <button type="submit">
                    <i class="bi bi-envelope me-1"></i>
                    Email me a recovery link
                </button>
            </form>
        </div>
    </main>
{% endblock %}
