{% extends 'base.html.twig' %}

{% block title %}Mot de passe oublié{% endblock %}

{% block main %}
    <main class="login">
        <div class="card white mt-3">
            <h1>Recover Password</h1>
            <p><em>Don’t worry, happens to the best of us !</em></p>

            <form method="POST" action="{{ path('_reset-password') }}">
                <div>
                    <div>
                        <label for="inputEmail">Email</label>
                        <input type="email"
                               name="email"
                               id="inputEmail"
                               class="form-control"
                               autocomplete="email"
                               placeholder="Ex: mail@example.com"
                               required
                        >
                    </div>
                </div>
                {% if isSent %}
                    <div class="success">
                        <div>
                            If account exists, an email will be sent with further instructions
                        </div>
                    </div>
                {% endif %}
                <a class="reset-password" href="{{ path('app_login') }}">
                    &#8592;
                    Sign In
                </a>
                <button type="submit">
                    <i class="bi bi-envelope"></i>
                    email me a recovery link
                </button>
            </form>
        </div>
    </main>
{% endblock %}
