{% extends 'base.html.twig' %}

{% block title %}Home{% endblock %}

{% block main %}
    <main class="index">
        <section class="top">
            <h1>Apprenez et partagez vos<br/>figures de snowbard !</h1>
            <a href="#trick-container">
                <button>
                    <i class="bi bi-arrow-down"></i>
                    Découvrir les tricks
                </button>
            </a>
        </section>
        {% if tricks|length > 0 %}
            {% set previousSection = null %}
            {% set sectionsLoaded = [] %}
            {% for trick in tricks %}
                {% set currentSection = trick.tripGroup.name %}

                {% if
                    previousSection is not defined or
                    currentSection != previousSection and
                    currentSection not in sectionsLoaded %}
                    {% set sectionsLoaded = sectionsLoaded|merge([currentSection]) %}
                    <h2 class="trick-group-name">{{ currentSection }}</h2>
                    <section class="trick-container" id="trick-container">
                        {% for trick in trick.tripGroup.tricks %}
                            <div class="trick-item big-height">
                                {% set continue = true %}
                                {% for trickMedia in trick.trickMedia %}
                                    {% if trickMedia.isImage and continue %}
                                        <div class="top" style="background-image: url({{ trickMedia.url }})"></div>
                                        {% set continue = false %}
                                    {% endif %}
                                {% endfor %}
                                <div class="bottom">
                                    <h2>{{ trick.name }}</h2>
                                    <a href="#">
                                        <button>
                                            <i class="bi bi-arrow-return-right"></i>
                                            Voir le trick
                                        </button>
                                    </a>
                                </div>
                            </div>
                        {% endfor %}
                    </section>
                {% endif %}

                {% set previousSection = currentSection %}
            {% endfor %}
        {% endif %}
    </main>
{% endblock %}
