{% extends 'base.html.twig' %}

{% block title %}Home{% endblock %}

{% block main %}
    <main class="index">
        <section class="top">
            <h1>
                Welcome to SnowTricks
            </h1>
            <br/>
            <h2>come and share with us </h2>
            <a href="#groups">
                <button>
                    See More
                    <i class="bi bi-arrow-down"></i>
                </button>
            </a>
        </section>
        {% if tricks|length > 0 %}
            {% set previousGroup = null %}
            {% set groupLoaded = [] %}
            {% for trick in tricks %}
                {% set currentGroup = trick.tripGroup.name %}

                {% if
                    previousGroup is not defined or
                    currentGroup != previousGroup and
                    currentGroup not in groupLoaded %}
                    {% set groupLoaded = groupLoaded|merge([currentGroup]) %}
                    <h2 class="trick-group-name">{{ currentGroup }}</h2>
                    <section class="trick-container" id="groups">
                        {% for trick in trick.tripGroup.tricks %}
                            <div class="trick-item big-height">
                                {% set continue = true %}
                                {% for trickMedia in trick.trickMedia %}
                                    {% if trickMedia.isImage and continue %}
                                        <div class="top" style="background-image: url({{ trickMedia.url }})"></div>
                                        {% set continue = false %}
                                    {% endif %}
                                {% endfor %}
                                <div class="bottom">
                                    <h2>{{ trick.name }}</h2>
                                    <a href="#">
                                        <button>
                                            Details
                                            <i class="bi bi-arrow-right ms-2"></i>
                                        </button>
                                    </a>
                                </div>
                            </div>
                        {% endfor %}
                    </section>
                {% endif %}

                {% set previousGroup = currentGroup %}
            {% endfor %}
        {% endif %}
    </main>
{% endblock %}
