<h1>Hi there!</h1>

<p>
    Welcome to SnowTricks, <br>
    We are really excited to count you among our new members 🥳
    <br>
    <br>
    <a href="{{ signedUrl }}">Confirm my Email</a>.
    <br>
   <small>This link will expire in {{ expiresAtMessageKey|trans(expiresAtMessageData, 'VerifyEmailBundle') }}.</small>
</p>
<br>
<br>
<p>
    Cheers!
</p>
<h6>SnowTricks Team</h6>
