$blue: #A5C9CA;
$blue-transparent: #E7F6F2;
$blue-grey: #8c9e9f;
$pastel: #2C3333;
$pastel-transparent: #395B64;
$broken-white: #fAfAfA;
$grey-dark: #444444;
$grey: #7e7d7d;
$grey-light: #a09e9e;
$red: #e34a4a;
$red-transparent: #e34a4acc;
$border-radius: 4px;
$mobile: 800px;
