<div class="card grey">
    <div class="card-title">
        <div class="d-flex row-flew">
            <img src="https://picsum.photos/200" class="mt-2"
                 alt="{{ comment.user.username }}"> AAAAA
            <div>
                <span class="small">{{ comment.user.username }}</span>
                <em class="small">{{ comment.createdAt | date('d/m/Y  H:i') }}</em>
                <br>
                <span>{{ comment.content }}</span>
            </div>
        </div>
    </div>
</div>
